<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Snapdeal Login Test Suite">
    <test name="Login Test">
        <classes>
            <!-- Define the test class here -->
            <class name="com.automation.SnapdealLoginTest" />
        </classes>
    </test>
</suite>
